<h1>Listing guest_groups</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Email</th>
    <th>Kids</th>
    <th>Plus one</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guest_groups.each do |guest_group| %>
  <tr>
    <td><%= guest_group.full_name %></td>
    <td><%= guest_group.email %></td>
    <td><%= guest_group.kids %></td>
    <td><%= guest_group.plus_one %></td>
    <td><%= link_to 'Show', guest_group %></td>
    <td><%= link_to 'Edit', edit_guest_group_path(guest_group) %></td>
    <td><%= link_to 'Destroy', guest_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest group', new_guest_group_path %>
